ul.social-network {
    list-style-type: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: .5rem;
}

/* .fa {
    font-size: 2rem;
    padding: .5rem;
} */

.social-network i.fa {
    color: var(--cinza-2)!important;
}
.social-network i.fa:hover{
    color: var(--roxo-2)!important;
}

hr {
    border: 1px solid var(--cinza-4);
    margin: 0;
    padding: 0;
}