<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-center" id="img-bg">
            <img src="../../assets/img/cadastro.png" alt="">
        </div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8">

                    <h1 class="text-left">Crie sua conta</h1>
                    <!-- <p class="subtitle">Faça seu login para acessar o conteúdo da plataforma.</p> -->

                    <div class="form-group mt-3">
                        <label class="small" for="nome">Nome:</label>
                        <input class="form-control" type="text" [(ngModel)]="usuario.nome" name="nome" id="nome"
                        placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label class="small" for="usuario">Usuário:</label>
                        <input class="form-control" type="text" [(ngModel)]="usuario.usuario" name="usuario" id="usuario"
                            placeholder="Digite seu email">
                    </div>

                    <div class="form-group">
                        <label class="small" for="foto">Link da foto do perfil:</label>
                        <input class="form-control" type="text" [(ngModel)]="usuario.foto" name="foto" id="foto"
                            placeholder="http://imgur.com/suafoto.png">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small" for="senha">Senha:</label>
                                <input class="form-control" type="password" name="senha" id="senha" (input)="confirmSenha($event)"
                                    placeholder="Sua senha">
                            </div>
                        </div>
                        <div class="col-md-6">
                            
        
                            <div class="form-group">
                                <label class="small" for="confirmarSenha">Confirmar senha:</label>
                                <input class="form-control" type="password" [(ngModel)]="usuario.senha" name="confirmSenha
                                " id="senha"
                                    placeholder="Digite novamente">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="small" for="tipo">Tipo de usuário:</label>
                        <select name="tipo" id="tipo" class="form-control" (change)="tipoUser($event)">   
                            <option disabled selected>Selecione um tipo de usuário:</option>                         
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-roxo2-outline mr-2" routerLink="/entrar">Cancelar</button>

                        <button type="submit" class="btn btn-roxo2 ml-2" (click)="cadastrar()">Cadastrar</button>
                    </div>

                    <hr class="my-3">

                    <p class="text-center small">Ja possui uma conta? Faça o <a href="/entrar">login</a></p>

                </div>
            </div>
        </div>

    </div>

</div>