<div class="container-fluid bg-roxo4">
    <div class="container">
        <div class="row d-flex align-items-center py-100">
            <div class="col-md-6">
                
                

                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="div mb-5"><a class="text-left" routerLink="/inicio"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar ao
                            início</a></div>

                        <h1 class="display-4 t-600">Temas</h1>
                        <h5 class="text-cinza2 t-400">Veja todos os temas cadastrados<br>ou <strong
                                class="t-600 text-cinza2">cadastre</strong> um novo:</h5>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-10  mt-3 mb-5">
                        <form action="">
                            <div class="form-group d-flex justify-content-lg-start">
                                <input type="text" class="form-control" id="descricao"
                                    placeholder="digite a descrição do tema">
                                <button class="btn btn-roxo2 ml-2">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <img src="../../assets/img/temas.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Todos os temas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>