<div class="container-fluid">
    <div class="row bg-roxo4">
        <div class="col-md-12">
            <a class="text-left" routerLink="/inicio"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar ao
                início</a>

            <h1 class="display-4">Temas</h1>
            <h5>Veja todos os temas cadastrados ou cadastre um novo:</h5>

            <div class="row">
                <div class="col-md-3">
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="descricao"
                                placeholder="digite a descrição do tema">
                            <button class="btn btn-roxo2">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Todos os temas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>