.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--cinza-1)!important;
    border-color: var(--cinza-3);
    background-color: var(--cinza-4);
}

.nav-link-color{
    color: var(--cinza-2)!important;
}

.btn-cinza {
    background-color: var(--roxo-2)!important;
    color: #fff!important;
}

.btn-cinza:hover {
    background-color: var(--roxo-2)!important;
    color: #fff!important;
}

h5{
    line-height: 2rem;
}